<!-- start custom head snippets -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8863232243621804"
     crossorigin="anonymous"></script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- <link rel="icon" href="{{site.baseurl}}https://user-images.githubusercontent.com/77485397/208680452-9375b03d-b4fb-463e-91cb-977b52e81a6a.png"> -->
<link rel="icon" href="../../images/favicon.png" type="image/x-icon">

<!-- end custom head snippets -->
