<div class="cl2"></div>

<div class="callout cImpact">
  <div class="callout-in">
    <h2>자바 핵심 정리 모음</h2>
    <p style="padding-top: 16px;"><a href="https://preasim.github.io/53">1P - 자료형, 변수와 상수, 형 변환, 배열 ></a></p>
    <p><a href="https://preasim.github.io/54">2P - 문자열, 조건문, 반복문 ></a></p>
    <p><a href="https://preasim.github.io/55">3P - 클래스, 메서드, 오버로딩 ></a></p>
    <p><a href="https://preasim.github.io/56">4P - 오버라이딩, this/super, Object Class, 캡슐화 ></a></p>
    <p><a href="https://preasim.github.io/57">5P - 다형성, 인터페이스 ></a></p>
    <p><a href="https://preasim.github.io/58">6P - 열거형, 제네릭, 예외 처리, 컬렉션 프레임워크 ></a></p>
    <p><a href="https://preasim.github.io/59">7P - 람다, 스트림 ></a></p>
  </div>
</div>