<div class="cl2"></div>

<div class="callout cImpact">
  <div class="callout-in">
    <h2 style="text-align: center; padding-bottom: 20px;">Spring Boot 복습 및 정리</h2>

        <p style="padding-top: 16px;"><a href="https://preasim.github.io/62">1P - POJO, IoC, DI, AOP, PSA ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/63">1.1P - DI / 의존성 주입은 왜 필요한가? ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/66">2P - 빈(Bean) 생명주기와 범위 ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/67">3P - 컴포넌트 스캔과 의존성 자동 주입, @Autowired ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/68">4P - AOP (관심 지향 프로그래밍) ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/69">5P - Spring MVC / MVC의 동작 방식과 구성 요소 ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/70">6P - REST, REST API ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/71">7P - HTTP Header, Rest Client ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/72">8P - DTO, DTO 유효성 검증 ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/73">9P - Service / Entity 클래스, Mapper / MapStruct ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/74">10P - 예외 처리 (@ExceptionHandler, @RestControllerAdvice) ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/75">10.1P - 비즈니스 로직에 대한 예외 처리 ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/76">11P - JDBC 데이터 액세스 계층 ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/77">11.1P - DDD, 도메인 엔티티 및 테이블 설계 ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/78">11.2P - 데이터 액세스 계층 구현 (도메인 엔티티 클래스 정의) ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/79">11.3P - 데이터 액세스 계층 구현 (서비스, 리포지토리 구현) ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/80">12P - JPA(Java Persistence API) ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/82">12.1P - JPA 엔티티 매핑 ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/83">12.2P - JPA 엔티티 간의 연관 관계 매핑 ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/83">12.3P - Spring Data JPA 데이터 액세스 계층 구현 ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/85">13P - Spring MVC 트랜잭션 ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/86">13.1P - 선언형 방식의 트랜잭션 적용 ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/87">13.2P - JTA를 이용한 분산 트랜잭션 적용 ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/89">14P - Spring MVC Testing 단위 테스트 ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/90">14.1P - JUnit 단위 테스트 ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/91">14.2P - Hamcrest Assertion ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/92">14.3P - 슬라이스 테스트 (API, 데이터 액세스 계층) ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/93">14.4P - Mockito ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/94">14.5P - TDD (Test Driven Development) ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/95">15P - API 문서화 (Documentation) ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/96">15.1P - API 문서 생성, Asciidoc, Asciidoctor ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/97">16P - 애플리케이션 빌드 / 실행 / 배포 ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/100">17P - Spring Security ></a></p>
        <p style="padding-left: 42px;"><a href="https://preasim.github.io/101">17.1P - Spring Security 2 ></a></p>
        <div class="sb-underLine"></div>
        <p><a href="https://preasim.github.io/102">18P - JWT (JSON Web Token) ></a></p>
  </div>
</div>

<!-- {% include private-screen.html %} -->

<style>

  .sb-underLine {
    width: 100%;
    height: 1px;
    background-color: #616161;
    margin: 10px 0;
  }

</style>